<!-- -->
<launch>

<include file="$(find turtlebot_bringup)/launch/minimal.launch"/>
<include file="$(find ahmedrrt)/launch/real_gmapping.launch"/>

  <!-- Publishes the voxel grid to rviz for display -->
  <node pkg="costmap_2d" type="costmap_2d_markers" name="voxel_visualizer">
    <remap from="voxel_grid" to="costmap/voxel_grid"/>
  </node>

  <!-- Run the costmap node -->
  <node name="costmap_node" pkg="costmap_2d" type="costmap_2d_node" >
    <rosparam file="$(find ahmedrrt)/param/cost_params_real.yaml" command="load" ns="costmap" />
  </node>
  
</launch>
