<!-- -->
<launch>

<param name="/use_sim_time" value="true"/>



<include file="$(find rrt_exploration_tutorials)/launch/single_simulated_house.launch"/>

<include file="$(find ahmedrrt)/launch/costmap.launch"/>


<node pkg="ahmedrrt" type="rrt_server.py" name="rrt_server">
<remap from="map" to="costmap_node/costmap/costmap"/>
</node>

<node pkg="ahmedrrt" type="move_base.py" name="move_base"/>

</launch>
